<!DOCTYPE html>
<html>

<head>
    <title>AngularJS Service</title>

    <!--    Bootstrap Links -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--  Angular links -->
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <script type="text/javascript" src="Scripts/scripts.js"></script>
    <script>
        $(document).ready(function() {
            $("[data-toggle=\'popover\']").popover();
        });
    </script>

</head>

<body ng-app="myApp">
    <h1>Sample Application for Form Validation</h1>
    <div ng-controller="formsCtrl">
        <form name="myForm" ng-submit="myForm.$valid" novalidate>
            <h4>Enter First name: <input type="text" name="fname" ng-model="fname" required />
                <span style="color:red" ng-show="myForm.$submitted && myForm.fname.$invalid ||
                                                 myForm.fname.$touched && myForm.fname.$invalid">
                    <a href="#"  style="color:#C80000" data-toggle="popover" data-placement="right" data-content="Firstname is required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </a>
                </span>
            </h4>
            <h4>Enter Last name: <input type="lastname" name="lname" ng-model="lname" required />
                <span style="color:red" ng-show="myForm.$submitted && myForm.lname.$invalid ||
                                                 myForm.lname.$touched && myForm.lname.$invalid">
                    <a href="#"  style="color:#C80000" data-toggle="popover" data-placement="right" data-content="Lastname is required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </a>
                </span>
            </h4>
            <h4>Enter Email: <input type="email" name="email" ng-model="email" required />
                <span style="color:red" ng-show="myForm.$submitted && myForm.email.$invalid ||
                                                 myForm.email.$touched && myForm.email.$invalid">
                    <a href="#"  style="color:#C80000" data-toggle="popover" data-placement="right" data-content="Email is required">
                        <span class="glyphicon glyphicon-exclamation-sign" ng-show="myForm.email.$error.required">
                        </span>                       
                    </a>
                    <a href="#"  style="color:#C80000" data-toggle="popover" data-placement="right" data-content="Please enter valid email">
                        <span class="glyphicon glyphicon-exclamation-sign" ng-show="myForm.email.$error.email">        </span>
                    </a>
                </span>
            </h4>
            <input type="reset" />
            <input type="submit" name="submit" />
        </form>

    </div>

</body>

</html>